* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.expense-vs-budget {
  display: flex;
  justify-content: space-around;
}

.expense-vs-budget-values {
  display: flex;
  justify-content: center;
}

.dashboard-container {
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 40px 90px 40px 90px;
  height: 100vh;
}

.profile-container {
  background-color: rgb(201, 238, 251);
  border-radius: 24px;
}

.exp-distribution-container {
  background-color: rgb(201, 238, 251);
  border-radius: 24px;
}
